* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$navbar-height-old: calc(6rem + 1px);
$navbar-height: 5rem;
$navbar-content-height: 2rem;

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: $navbar-height;
}

.navbar-container {
	display: flex;
	align-items: center;
	max-width: 75rem;
	height: 100%;
	margin: 0 auto;
	padding: calc((#{$navbar-height} - #{$navbar-content-height}) / 2) 3rem;

	border-bottom: 1px solid rgba(87, 92, 96, .25);;
	list-style-type: none;
}

.navbar-logo-link {
	display: flex;
	height: 100%;
	padding: 0.75rem 1rem;
	margin-left: -1rem;
	align-items: center;
}

.navbar-logo {
	height: 1.25rem;
}

$text-color: #2a2a2a;
$text-color-hover: #0090ff;

.navbar-item {
	padding: 0.75rem 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	text-decoration: none;
	transition: color 0.25s;

	&:hover {
		color: $text-color-hover;

		svg {
			stroke: $text-color-hover;
		}
	}

	svg {
		width: 0.75rem;
		height: 0.75rem;
		margin-left: 0.125rem;
		vertical-align: middle;
		transition: stroke 0.2s;
		stroke: $text-color;
	}
}

.navbar-item-push {
	margin-left: auto;
}

.navbar-item--dropdown {
	cursor: default;
}

.navbar-item--link {
	cursor: pointer;
}

.main-page {
	height: calc(100vh - #{$navbar-height});
	margin-top: $navbar-height;
	overflow: hidden;
}

.main-page__content {
	width: 100%;
	height: calc(100% + #{$navbar-height-old});
	border: none;
	margin-top: calc(-1 * #{$navbar-height-old});
}
