$desktop: 'desktop';
$mobile: 'mobile';
$breakpoint: 991px;

@mixin breakpoint($point) {
	@if $point == $desktop {
		@media (min-width: $breakpoint) {
			@content;
		}
	}
	@else if $point == $mobile {
		@media (max-width: $breakpoint), (max-device-width: $breakpoint) {
			@content;
		}
	}
	@else {
		@warn "Invalid breakpoint";
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$navbar-height-old: calc(6rem + 1px);
$navbar-height: 5rem;
$navbar-height-mobile: 4rem;
$navbar-content-height: 3rem;

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: $navbar-height;

	@include breakpoint($mobile) {
		position: absolute;
		height: $navbar-height-mobile;
	}
}

.navbar-container {
	display: flex;
	list-style-type: none;
	align-items: center;
	max-width: 75rem;
	height: 100%;
	margin: 0 auto;
	padding: calc((#{$navbar-height} - #{$navbar-content-height}) / 2) 2rem;
	border-bottom: 1px solid rgba(87, 92, 96, .25);;

	@include breakpoint($mobile) {
		padding: calc((#{$navbar-height-mobile} - #{$navbar-content-height}) / 2);
	}
}

.skip-to-content {
	position: absolute;
	top: -100%;
	background: #fff;
	z-index: 1;

	&:focus,
	&:active {
		top: ($navbar-height - $navbar-content-height) / 2;

		@include breakpoint($mobile) {
			top: ($navbar-height-mobile - $navbar-content-height) / 2;
		}
	}
}

.navbar-logo-link {
	display: inline-flex;
	height: $navbar-content-height;
	padding: 0.75rem 1rem;
	align-items: center;
}

.navbar-logo {
	height: 1.25rem;
}

.navbar-content {
	display: inline-flex;
	height: 100%;
}

.navbar-content--desktop {
	flex-grow: 1;

	@include breakpoint($mobile) {
		position: absolute;
		width: calc(100% - 2rem);
		height: auto;
		top: 0;
		left: 0;
		margin: 1rem;
		margin-top: $navbar-height;
		padding: 1rem 1rem;

		transition: all 0.25s;
		visibility: hidden;
		opacity: 0;
		transform: perspective(10rem) scaleX(0.9) scaleY(0.9);
		transform-origin: 100% 0;

		background: #fff;
		border-radius: 0.375rem;
		box-shadow: 0 1rem 2.5rem 0 rgba(#666, 0.25);

		&.active {
			visibility: visible;
			opacity: 1;
			transform: perspective(10rem);
		}
	}
}

.navbar-content--mobile {
	flex-grow: 1;

	@include breakpoint($desktop) {
		display: none;
	}
}

.navbar-content-container {
	display: flex;
	width: 100%;
	list-style-type: none;

	@include breakpoint($mobile) {
		flex-direction: column;
	}
}

$text-color: #2a2a2a;
$text-color-hover: #0090ff;

.navbar-item {
	display: block;
	height: $navbar-content-height;
	line-height: $navbar-content-height;
	padding: 0 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	text-decoration: none;
	transition: color 0.2s;

	&:hover {
		color: $text-color-hover;

		svg {
			stroke: $text-color-hover;
			fill: $text-color-hover;
		}
	}

	svg {
		width: 0.75rem;
		height: 0.75rem;
		margin-left: 0.125rem;
		vertical-align: middle;
		transition: stroke 0.2s, fill 0.2s;
		stroke: $text-color;
		fill: $text-color;
	}

	@include breakpoint($mobile) {
		svg {
			display: none;
		}
	}
}

.navbar-item-push {
	@include breakpoint($desktop) {
		margin-left: auto;
	}
}

.navbar-item--dropdown {
	cursor: default;

	@include breakpoint($mobile) {
		display: none;
	}
}

.navbar-item--link {
	cursor: pointer;
}

.navbar-dropdown-container {
	display: flex;
	flex-direction: column;

	@include breakpoint($desktop) {
		align-items: center;
	}
}

.navbar-dropdown {
	display: flex;
	flex-direction: column;
	list-style-type: none;

	@include breakpoint($desktop) {
		margin-top: $navbar-content-height;
		position: absolute;
		padding: 1.5rem 1.5rem;

		background: #fff;
		border-radius: 0.375rem;
		box-shadow: 0 1rem 2.5rem 0 rgba(#666, 0.25);

		transition: all 0.25s;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transform: perspective(10rem) rotateX(-5deg);
		transform-origin: 50% 0;

		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 1;
			transform: perspective(10rem) rotateX(0);
		}
	}
}

.navbar-dropdown-item {
	display: block;
	padding: 0.75rem 0.75rem;
	font-size: 0.875rem;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	text-decoration: none;
	transition: color 0.2s;

	&:hover {
		color: $text-color-hover;

		svg {
			stroke: $text-color-hover;
			fill: $text-color-hover;
		}
	}

	svg {
		width: 1.125rem;
		height: 1.125rem;
		margin-right: 0.75rem;
		vertical-align: middle;
		transition: stroke 0.2s, fill 0.2s;
		stroke: $text-color;
		fill: $text-color;
	}

	@include breakpoint($mobile) {
		height: $navbar-content-height;
		line-height: $navbar-content-height;
		padding: 0 1rem;

		svg {
			display: none;
		}
	}
}

.hamburger-menu-button {
	position: relative;
	display: inline-block;
	width: $navbar-content-height;
	margin-left: auto;
	background: #fff;
	border: none;
	cursor: pointer;

	span {
		position: absolute;
		display: block;
		left: 20%;
		height: 3px;
		width: 60%;
		background: $text-color;
		border-radius: 3px;
		opacity: 1;
		transform: rotate(0);
		transition: 0.2s ease-in-out;
	}

	.line-top {
		top: 30%;
	}

	.line-left,
	.line-right {
		top: 50%;
	}

	.line-bottom {
		top: 70%;
	}

	&.active {
		.line-top {
			opacity: 0;
			width: 0;
			top: 50%;
			left: 50%;
		}

		.line-left {
			transform: rotate(45deg);
		}

		.line-right {
			transform: rotate(-45deg);
		}

		.line-bottom {
			opacity: 0;
			width: 0;
			top: 50%;
			left: 50%;
		}
	}

	&:hover {
		span {
			background: $text-color-hover;
		}
	}
}

#main-page {
	height: calc(100vh - #{$navbar-height});
	margin-top: $navbar-height;
	overflow: hidden;

	@include breakpoint($mobile) {
		height: calc(100vh - #{$navbar-height-mobile});
	margin-top: $navbar-height-mobile;
	}
}

.main-page__content {
	width: 100%;
	height: calc(100% + #{$navbar-height-old});
	border: none;
	margin-top: calc(-1 * #{$navbar-height-old});
}
